@CHARSET "UTF-8";

/* fujita */
table.listTable{
	border: medium solid #c0c0c0;
}

.listTable td{
	border: dotted 1px #c0c0c0;
	padding:10px;
}

.headerMenuTemp{
	width:100%;
	height:50px;
	background-color: orange;
	margin:0px 0px 10px 0px;
	text-align:center;
	vertical-align: middle;
}

.bottombutton{
	width: 100%;
	text-align: center;
}

.questionText{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}


/* --[Start]haraki 追加分-- */
div.dimly{
	background-color: #000;
	width: 100%
	margin: 0 auto;
}

div.dimly>div.relative{
	position: relative;
}

div.dimly>div.relative>span.absolute{
	color: #FFF;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	white-space: nowrap;
	position: absolute;
	top: 0px;
	right: 0px;
	buttom: 0px;
	left: 0px;
	visibility: hidden;
}

div.dimly:hover>div.relative>img{
	opacity: 0.3;
}

div.dimly:hover>div.relative>span.absolute{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	visibility: visible;
}

div.main{
	width: 100%;
	height: 100%;
}

div.main>div.content{
	margin: 0px auto 50px auto;
	width: 90%;
	padding:15px;
	border: 5px double #FF8000;
	background-color: #FFFFa0
}

div.view-name{
	margin: 10px;
	font-size: 20pt;
}

div.view-name:before{
	content: url("../Images/honey_icon01.png");
	position: relative;
	top: 7px;
}

td.item-name:before{
	content: url("../Images/honey_icon02.png");
}

table.info {
    font-size: 14px;
}

table.info th, table.info td {
    padding: 10px;
}

table.info th {
    background: #ffc040;
    color: #FFF;
    text-align: left;
    width: auto;
    overflow: visible;
    position: relative;
    font-weight: normal;
    font-size: 14px;
}

table.info th:before{
	content: url("../Images/honey_icon02_b.png");
}

table.info th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #ffc040;
    border-width: 7px;
    margin-top: -7px;
}

table.info td {
	background: #ffe080;
}

button.normal {
    font-size: 12px;
    font-weight: bold;
    padding: 7px 20px;
    background-color: #0097DB;
    color: #fff;
    border-style: none;
}
button.normal:hover {
	cursor: pointer;
	background-color: #00B9EF;
}
button.normal:active{
	background-color: #005982;
}
/* --[End]haraki 追加分-- */