@CHARSET "UTF-8";

/* fujita */
table.listTable{
	border: medium solid #0000ff;
}

.listTable td{
	border: dotted 1px #0000ff;
	padding:10px;
}

.headerMenuTemp{
	width:100%;
	height:50px;
	background-color: orange;
	margin:0px 0px 10px 0px;
	text-align:center;
	vertical-align: middle;
}



/* haraki */
div.dimly{
	background-color: #000;
	width: 100%
	margin: 0 auto;
}

div.dimly>div.relative{
	position: relative;
}

div.dimly>div.relative>span.absolute{
	color: #FFF;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	white-space: nowrap;
	position: absolute;
	top: 0px;
	right: 0px;
	buttom: 0px;
	left: 0px;
	visibility: hidden;
}

div.dimly:hover>div.relative>img{
	opacity: 0.3;
}

div.dimly:hover>div.relative>span.absolute{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	visibility: visible;
}

div.main{
	width: 100%;
	height: 100%;
}

div.main>div.content{
	margin: 0px auto 50px auto;
	width: 90%;
	padding:15px;
	border: 5px double #00F;
}